.main-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.sorting {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px 0;
    background: white;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.sorting select {
    margin: 0 16px;
    width: 184px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    padding: 6px 10px;
    background: white;
}

.top {
    font-style: 11px;
    background: white;
    padding: 4px;
}

.item {
    margin-top: 32px;
    background: white;
    width: 100%; 
    display: flex;
    flex-direction: row;
    height: 184px;
}

.item-info {
    padding: 16px;
}

.item-info h3 {
    padding: 0 6px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    margin-bottom: 16px;
}

.separator {
    border-bottom: 1px solid #686161;
}

.item-info p{
    padding: 0 6px;
    margin: 0;
    margin-top: 16px;
}

.photo {
    min-width: 288px;
}

.photo > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filters {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: #1AAAE8;
}

.filters input,
.filters select {
    width: 196px;
    border: 1px solid black;
    margin-bottom: 16px;
    background: white;
    font-size: 24px;
    line-height: 27px;
    font-weight: 500;
    padding: 6px 10px;
}

.filters input[type="submit"] {
    color: white;
    border: 1px solid black;
    background: #0400B4;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25),
                0 4px 4px rgba(0,0,0,0.25),
                0 4px 4px rgba(0,0,0,0.25),
                0 4px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    margin: 0;
    font-weight: 600;
}

