.news-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}


.news--item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-start;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #686161;
}

.news--item img {
    max-width: 33%;
}

.news-info {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.date, .news-title, .news-text {
    margin: 0;
    margin-bottom: 10px;
    color: rgb(58, 58, 58);
}

.date {
    font-size: 15px;
    line-height: 17px;
}

.news-text {
    font-size: 18px;
    line-height: 20px;
}

.news-title {
    font-size: 23px;
    line-height: 25px;
    color: #23527c;
}

.more-info {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background: #010051;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    transition: 300ms;
    border: 1px solid rgb(82, 81, 81);
}

.more-info:hover,
.more-info:active {
    color: #010051;
    background: white;
}